* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#logo {
  font-family: Bungee;
  font-size: 1.5em;
  padding: 20px;
  color: #df435f;
  text-decoration: none;
}

.cover {
  height: 100vmin;
  background: url(./img/jumbotron.jpg) no-repeat center center;
  background-size: cover;
}

.cover-head {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 6px;
  font-family: Arsenal;
  font-size: 3em;
  color: aliceblue;
}

.cover-head button {
  display: block;
  margin: 0 auto;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  letter-spacing: 4px;
  color: #fff;
  background-color: inherit;
  border-color: inherit;
}

.cover-head button:focus {
  outline: 0;
}

.cover-head button a {
  text-decoration: none;
  color: #fff;
}

.content {
  height: 50vmin;
  text-align: center;
  font-family: Arsenal;
}

.content p {
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: 2px;
  text-align: left;
  padding-bottom: 10px;
}

.content-text {
  width: 50%;
  height: 50%;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 1px;
}

.content-text ul {
  padding-top: 10px;
}

.content-inside {
  position: relative;
  top: 10%;
}

.content-text ul li {
  list-style: none;
  text-align: left;
   font-size: 21px;
  line-height: 1.58;
  letter-spacing: 2px;
  text-align: left;
  padding-bottom: 10px;
}

.progress {
  font-family: VT323;
  font-size: 12px;
  background-color: #F2575B;
  cursor: pointer;
  color: #fff;
}

.update {
  font-family: VT323;
  font-size: 12px;
  background-color: #181EF4;
  cursor: pointer;
  color: #fff;
}

.content-text ul a {
  color: inherit;
  cursor: pointer;
}

.complete {
  font-family: VT323;
  font-size: 12px;
  background-color: #17AD0F;
  cursor: pointer;
  color: #fff;
}

.in-progress {
  height: 50vmin;
  text-align: center;
  font-family: Arsenal;
}

.in-progress-inside {
  position: relative;
  top: 10%;
}

.in-progress-text {
  width: 50%;
  height: 50%;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 1px;
}

.code{
  background-color: #f5f5f5;
  padding: 2px;
  border-radius: 3px;
}

.line {
  border-bottom: 2px solid #FEEA18;
}

.date {
  padding-bottom: 0;
}

.reflection {
  font-family: VT323;
  font-size: 12px;
  background-color: #FDBF21;
  cursor: pointer;
  color: #fff;
}

header {
  position: fixed;
  display: inline;
  width: 100%;
  z-index: 1000;
  background: white;
  text-align: center;
  border-bottom: 1px solid #1d3156;
  padding: 10px;
}

.fa {
  font-size: 21px;
}

.social {
  padding: 10px;
}

#headline {
  font-family: VT323;
  font-weight: 100;
  color: #1d3156;
  text-align: center;

}
